.list {
  margin: 0;
  padding: 0;
}
.list__elem {
  cursor: pointer;
  position: relative;
  padding: 20px 0 20px 0;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #416607;
}
.list__elem:nth-child(odd) {
  background: #f9f9f9;
}
.list__elem:hover {
  background: #71B20C;
  color: white;
}
.list__info {
  font-weight: bold;
}
